<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curriculo Iago Vargas</title>
</head>
<body>
    <h1><img src="img5.png" alt="Pacoca" width="100" height="100"> Iago Vargas de Oliveira</h1>
    <p> Desenvolvedor Back-end | Full Stack em Formação</p>
    <ul>
        <li> <a href="https://www.linkedin.com/in/iago-vargas-backend/"> Linkedin</a></li>
        <li> <a href="https://github.com/Iago-Vargas"> GitHub</a></li>
        <li> <a href="https://iagovargas.com/"> Meu site</a></li>
    </ul>
    <h2> Resumo Profissional: </h2>
    <p> Desenvolvedor Back-End com experiência em Java (Swing e Spring Boot), Python, React, MongoDB e MySQL. Atuação em projetos completos, como sistemas de controle de empréstimos, restaurante com comunicação via sockets e plataforma de vendas de sites. Foco em APIs, bancos de dados relacionais e NoSQL. Cursando Ciência da Computação, com perfil proativo, autodidata e orientado a soluções funcionais.
    </p>
    <h2> Tecnologias e Ferramentas:</h2>
    <ul>
        <li><img src="icon1.png" alt="Python" width="20" height="20"> Python</li>
        <li> <img src="icon2.png" alt="Java" width="20" height="20">Java</li>
        <li> <img src="icon3.png" alt="C" width="20" height="20">C</li>
        <li> <img src="icon4.png" alt="SQL" width="20" height="20">SQL</li>
        <li><img src="icon5.png" alt="HTML" width="20" height="20">Html & Css</li>
    </ul>
    <h2> Projetos: </h2>
    <ul>
        <li> </li>
    </ul>
</body>
</html>